{% extends "base.html" %}

{% block content %}

<div>

    	<h2>Laura Vicinanza</h2>


    <div>
        <img src=http://i.imgur.com/8R0C2R3.jpg> 
        <p> <a href="https://www.linkedin.com/pub/laura-vicinanza/81/b87/a94">Laura Vicinanza</a> is an LSA '18 student from Atlanta, Georgia. She is planning on completing a duel degree in PPE and International Studies with a minor in Computer Science. Laura is envolved in many student organizations such as the Michigan Journal of International Affairs, Investment Finance Group, Urban Forum and the Michigan Electronic Dance Music Association. She is fluent in Spanish and enjoys music production, freelance writing and traveling. </p>
    </div>

 </div>


{% endblock %}
